<body>
<h1>Stupid Coaching</h1>
<h3><%= params[:question] %></h2>
<p>- you</p>
<p><%= @ask %></p>
<p> - coach </p>
<p id="link"><%= link_to "ask another question", "/ask", class: "link" %></p>
</body>
